.nav {
  display: flex;
  justify-content: space-around;
  position: relative;
}



header {
  background: linear-gradient(90deg, rgba(57,66,144,1) 0%, rgba(34,46,251,1) 47%, rgba(0,0,0,1) 100%);
  color: white;
  height: 100px;
}

li a {
  color: black;
  font-weight: bold;
  text-decoration: none;
  font-size: 15px;
  line-height: 10px;
  display: block;
}

button.home {
  background-color: rgb(250, 237, 215);
  height: 40px;
  width: 116px;
  position: relative;
  top: -2px;
  border-radius: 10px;
  transition: background-color 0.3s, transform 0.3s;
  box-shadow: 2px 2px 20px grey;
}

li {
  list-style: none;
}

button:hover {
  background-color: rgb(251, 176, 34);
  transform: scale(1.1)
}

.search {
  margin-top: 200px;
  height: 70px;
}

.search .search-bar {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  border: 1px solid #0b498b;
  padding: 10px;
  font-size: 20px;
}

.search .search-bar:focus {
  border-color: #0056b3; /* Change border color on focus */
  box-shadow: 0 0 5px rgba(0, 86, 179, 0.5); /* Add shadow on focus */
  outline: none; /* Remove default outline */
}

.button {
  width: 120px;
  height: 69px;
  font-size: large;
  background-color: rgb(7, 7, 122);
  color: white;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: none;
  box-shadow: 2px 2px 7px rgb(7, 7, 122);
}

.button:hover {
  background-color: #0056b3; /* Change background on hover */
  transform: scale(1.05); /* Slightly enlarge on hover */
}
