.pic {
  height: 100%;
  width: 100px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid darkblue;
}

.info {
  margin-left: 10px;
  margin-right: 10px;
  width: 100%;
}



.doc {
  display: flex;
  margin: 30px;
  border: 5px solid darkblue;
  background-color: white;
  height: 150px;
}

.info .title {
 border-bottom: 1px dashed black;
}

canvas.preview {
  border: 1px solid #ddd;
  max-width: 100%; /* Make canvas responsive */
  max-height: 100%; /* Limit the height for consistency */
  margin-top: 10px; /* Space above the canvas */
}

.search-index {
  margin-top: 50px;
  height: 70px;
}

.search-index .search-bar-index {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  border: 1px solid #0b498b;
  padding: 10px;
  font-size: 20px;
}

.search-index .search-bar-index:focus {
  border-color: #0056b3; /* Change border color on focus */
  box-shadow: 0 0 5px rgba(0, 86, 179, 0.5); /* Add shadow on focus */
  outline: none; /* Remove default outline */
}

.search-index .button {
  width: 120px;
  height: 69px;
  font-size: large;
  background-color: rgb(7, 7, 122);
  color: white;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: none;
  box-shadow: 2px 2px 7px rgb(7, 7, 122);
}

.search-index .button:hover {
  background-color: #0056b3; /* Change background on hover */
  transform: scale(1.05); /* Slightly enlarge on hover */
}
