.form {
  padding: 20px;
  width: 600px;
  color: white;
}

.form .form-control {
  border: 3px solid gold;
}

.content {
  display: flex;
  justify-content: center;
  background: linear-gradient(90deg, rgba(57,66,144,1) 0%, rgba(34,46,251,1) 47%, rgba(0,0,0,1) 100%);
  width: 800px;
  margin: auto;
  border: 3px solid gold;
  border-radius: 20px;
}
