iframe {
  width: 50%;
  height: 600px; /* Adjust the height as needed */
  border: none;
}

#pdf-container {
  width: 100%;
  overflow: auto; /* Enable scrolling */
  max-height: 500px; /* Set a max height */
  position: relative;
}

canvas {
  display: block; /* Remove any space below canvas */
  margin: 10px auto; /* Add some space between pages */
}

.show {
  display: flex;

}

.container-outer {
  width: 50%;
  margin-left: 50px;
}

.transcription {
  margin-top: 10px;
}

.head {
  border-bottom: 3px solid darkblue;
}

p.description {
  margin-left: 100px;
  margin-right: 100px;
}

.grab {
  cursor: grab;
}

.grabbing {
  cursor: grabbing;
}
