iframe {
  width: 50%;
  height: 600px; /* Adjust the height as needed */
  border: none;
}

#pdf-container {
  min-width: 100%;
  overflow: auto; /* Enable scrolling */
  max-height: 500px; /* Set a max height */
  position: relative;
}

canvas {
  display: block; /* Remove any space below canvas */
  margin: 10px auto; /* Add some space between pages */
}

.show {
  display: flex;

}

.container-outer {
  width: 50%;
  margin-left: 50px;
}

.transcription {
  margin-top: 10px;
}

.head {
  border-bottom: 3px solid darkblue;
}

p.description {
  margin-left: 100px;
  margin-right: 100px;
}

.grab {
  cursor: grab;
}

.grabbing {
  cursor: grabbing;
}

.btn-arrow {
  border: 2px solid black;
  background-color: lightgray;
  margin: 2px;
  border-radius: 10px;
  width: 50px;
  transition: 0.3s;
  font-weight: 400;
}

.btn-arrow:hover {
  background-color: rgba(126, 126, 126, 0.8); /* Darker on hover */

}
