.versions {
  margin: 30px;
  margin-top: 60px;
  width: 600px;
}

.version-card {
  border: 1px solid darkblue;
  padding: 10px;
  margin: 10px;
  background-color: white;
}

.transcription-container {
  margin: 60px;
}
