.versions {
  margin: 30px;
  margin-top: 60px;
  width: 600px;
}

.version-card {
  border: 1px solid darkblue;
  padding: 10px;
  margin: 10px;
  background-color: white;
  transition: background-color 0.3s;
  cursor: pointer;
}

.selected {
  background-color: rgb(255, 255, 126);
  -webkit-box-shadow:0px 0px 115px 4px rgba(221,245,84,0.9);
  -moz-box-shadow: 0px 0px 115px 4px rgba(221,245,84,0.9);
  box-shadow: 0px 0px 115px 4px rgba(221,245,84,0.9);
}

.transcription-container {
  margin: 60px;
}
