.versions {
  margin: 30px;
  margin-top: 60px;
}

.version-card {
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}

.transcription-container {
  background-color: white;
  height: 400px;
  width: 600px;
  margin: 30px;
}
