<div class="about p-4 fs-5">
  <h1>About DigitalHistories</h1>
  <br>
  <p>DigitalHistories is a website where users can help to transcribe historical documents. Many historical documents such as letters and old newpapers are difficult
  to read. The more people who are working on transcribing these documents the easier it becomes as some people are able to decipher certain styles of handwriting that others cannot.
  This website hopes to provide everyone who is interested in history a digital transcript of these original documents.</p>

  <p>In 1914 Hector Clayton went to war. He fought at Gallipoli, was wounded, and later served as a camp commander in France.
There he met his future wife, Phyllis Midwood. Their first child was born in England in 1918. He returned to Australia and to his
work as a solicitor. In 1936 he was elected as a member of the Legislative Council of New South Wales. In 1968 he was knighted “In recognition of service to Commerce”.
Over the course of his life, when separated from his family, he wrote letters to them and they replied.
That collection of correspondence is now held by the State Library of NSW.
The problem is that many of the letters are difficult to read. The handwriting is challenging and, in some cases, the ink has faded over time.
This website contains copies of all the letters and it is hoped that visitors will assist in transcribing the letters.</p>

<p>Here you can sign up and start transcribing these documents and others uploaded by users who share your interest in history. You can also upload documents
of your own so others can assist in deciphering them, or just search through our library of documents for anything that may interest you.</p>
</div>
