<h1>Transcribe Historical Documents</h1>
<div class="nav">
  <p><%= link_to "List Documents", documents_path %></p>
  <p>Add a Document</p>
  <% if user_signed_in? %>
    <p><%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete} %></p>
  <% else %>
    <p> <%= link_to "Login", new_user_session_path, class: "nav-link" %></p>
  <% end %>
</div>
