<div class="doc">
  <div class="pic">
    <% if document.file.attached? && document.file.previewable? %>
      <%= image_tag document.file.preview(resize_to_limit: [100, 100]) %>
    <% end %>
  </div>
  <div class="info">
    <div class="title">
      <h2><%= document.title %></h2>
    </div>
    <p><%= document.description %></p>
  </div>
</div>
