<h1>Documents</h1>
<div class="d-flex justify-content-center">
<div class="doc-list col-6">
  <% if @documents.any? %>
    <% @documents.each do |document| %>
      <a href="<%= document_path(document) %>">
        <%= render "card", document: document %>
      </a>
    <% end %>
  <% end %>
</div>
</div>
