.pic {
  height: 100%;
  width: 100px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid darkblue;
}

.info {
  margin-left: 10px;
  margin-right: 10px;
  width: 100%;
}

.doc {
  display: flex;
  margin: 30px;
  border: 5px solid darkblue;
  background-color: white;
  height: 150px;
  transition: transform 0.3s;
  cursor: pointer;
}

.doc:hover {
  transform: scale(1.05);
}

.info .card-head {
 border-bottom: 1px dashed black;
 display: flex;
 justify-content: space-between;
 align-items: center;
}

canvas.preview {
  border: 1px solid #ddd;
  max-width: 100%; /* Make canvas responsive */
  max-height: 100%; /* Limit the height for consistency */
  margin-top: 10px; /* Space above the canvas */
}

img.preview {
  max-width: 100%;
  max-height: 100%;
  margin-top: 10px;
}

.popout {
  position: relative;
}

.popout button {
  background: transparent;
  border: none;
  font-size: 20px;
  margin-right: 5px;
}

.popout-menu {
  position: absolute; /* Position relative to the nearest positioned ancestor */
  top: -20px; /* Adjust as necessary */
  left: 100%; /* Position to the right of the button */
  margin-left: 5px; /* Spacing between the button and the menu */
  display: block;
  background-color: white; /* Background color for the menu */
  border: 1px solid #ccc; /* Border around the menu */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Optional shadow for depth */
  z-index: 1000; /* Ensure it appears above other content */
  width: 325px;
  white-space: nowrap;
  padding: 5px 10px 7px;
}

.hidden {
  display: none;
}

.tick-icon {
  display: inline-block; /* Maintain layout */
  width: 30px; /* Fixed width for icon space */
  text-align: center; /* Center the icon */
  font-size: 24px;
  line-height: 30px;
  visibility: hidden;
}

.tick-icon.visible {
  visibility: visible;
}

.popout-menu li {
 color: black;
 border-bottom: 1px solid #ccc;
 padding-bottom: 5px;
 padding-left: 5px;
 padding-right: 5px;
}

.popout-menu li:last-child {
  border-bottom: none; /* Remove border for the last item */
}

.popout-menu li:hover {
  background-color: rgba(204, 204, 204, 0.4);
}
