.home-button {
  color: black;
  font-size: 40px;
  margin-left: 15px;
  margin-top: 10px;
}

.home-button-index {
  margin-left: 35px;

  font-size: 40px;
  color: black;
}

.home-button:hover {
  color: darkgrey;
}

.home-button-container {
  position: absolute;
  z-index: 1000;
  top: 10px;
}

.home-button-container-index {
  position: absolute;
  margin-top: 10px;
}
